@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .clip_path{
        clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0 0);
    }
    .heading{
        @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase font-bold text-gray-900 md:leading-[4rem] leading-[3rem] text-center
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

/* .clip_path{
    clip-path: circle(68.8% at 77% 0);
} */



